#opacidade{
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.411);
}
// Search
ion-header{
  ion-icon{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 13px;
  }
  input{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: #cfcfcf5b;
    padding-left: 40px;
    font-size: 15px;
  }
  input::placeholder{
    color: #363636;
  }
}
// Placeholder da pesauisa
.input-wrapper{
  border: 0px !important;
}
// Slides 
ion-slide{
  ion-card{
    background-position: center;
    color: white;
    font-weight: bold;
    width: 50vw;
    height: 235px;
    ion-card-content{
      height: 100%;
    }
    ion-card-title{
      text-align: left;
      color: white;
      font-weight: bold;
    }
    ion-card-subtitle{
      text-align: left;
      color: white;
      font-weight: bold;
    }
  }
}
// Titulos
h1{
  width: 100%;
  padding-left: 5%;
  margin: 2%;
  font-weight: bold;
}
// Titulos
h4{
  width: 100%;
  padding-left: 5%;
  margin: 2%;
  font-weight: bold;
  color: black;
}
// Categorias
#Categorias{
  ion-card{
    height: 65px;

    ion-label{
      width: 100%;
    }

  }
}
#iconCase{
  width: 100%;
  height: 40px;
  ion-icon{
    padding-top: 10px;
    font-size: 25px;
  }
}
// Estilização do Evento
#Eventos{
  width: 100vw;
  height: auto;
  ion-card-header{
    width: 80px !important;
    height: 80px;
    float: left;
    background-color: rgba(47, 255, 175, 0.8);;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  ion-card-content{
    width: 66vw;
    float: left;
    padding:8px;

    ion-title{
      color: black;
      font-size: 15px;
      font-weight: bold;
      padding-left: 10px;
    }

    ion-card-subtitle{
      padding-left: 10px;
    }
    ion-icon{
      margin-bottom: -1.5%;
      color: rgb(0, 162, 255);
      font-size: 17px;
    }

  }

}