<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        &nbsp;&nbsp;&nbsp;Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngFor="let event of events">
        

      <ion-card (click)="abrirEvento(event.codEvento)">
          <ion-card-header>
            <div class="fotoEvento">
              <img [src]=event.imgEvento>
            </div>
          </ion-card-header>
          <ion-card-content>
              <ion-card-subtitle>Categoria: {{event.nomeCategoria}}</ion-card-subtitle>
              <ion-card-title>{{event.nomeEvento}}</ion-card-title>
              <br>
                {{event.logradouroEvento}} - CEP {{event.cepEvento}} Nº {{event.numeroEvento}}
              
              <div *ngIf="event.valorEvento == 0; else elseBlock">
                  Valor: <span class="money">Gratuito</span>
              </div>
              <ng-template #elseBlock>
                  Valor: <span class="money">{{preco}}</span>
              </ng-template>
            </ion-card-content>
        </ion-card>


      </ion-list>

</ion-content>
